circle.alex {
    fill: crimson;
}
circle.bart {
    fill: darkorange;
}
circle.cindy {
    fill: gold;
}
circle.david {
    fill: green;
}
circle.erik {
    fill: blue;
}
circle.frank {
    fill: purple;
}
circle.greg {
    fill: grey;
}
    
line.alex {
    stroke: crimson;
    stroke-width: 2;
}
line.bart {
    stroke: darkorange;
    stroke-width: 2;
}
line.cindy {
    stroke: gold;
    stroke-width: 2;
}
line.david {
    stroke: green;
    stroke-width: 2;
}
line.erik {
    stroke: blue;
    stroke-width: 2;
}
line.frank {
    stroke: purple;
    stroke-width: 2;
}
line.greg {
    stroke: grey;
    stroke-width: 2;
}

.label {
    fill: white;
    font-weight: bold;
    text-anchor: middle;
    font-size: 18px;
    text-transform:capitalize;
}

table,
td {
    border: 1px solid #333;
}

.results-header {
    font-size: 14px;
    text-anchor: middle;
}

.table-label {
   text-align: center; 
   text-transform:capitalize;
}

td.alex {
    color: white;
    font-weight: bold;
    background-color: crimson;
    text-align: center; 
    text-transform:capitalize;
}
td.bart {
    color: white;
    font-weight: bold;
    background-color: darkorange;
    text-align: center; 
    text-transform:capitalize;
}
td.cindy {
    color: white;
    font-weight: bold;
    background-color: gold;
    text-align: center; 
    text-transform:capitalize;
}
td.david {
    color: white;
    font-weight: bold;
    background-color: green;
    text-align: center; 
    text-transform:capitalize;
}
td.erik {
    color: white;
    font-weight: bold;
    background-color: blue;
    text-align: center; 
    text-transform:capitalize;
}
td.frank {
    color: white;
    font-weight: bold;
    background-color: purple;
    text-align: center; 
    text-transform:capitalize;
}
td.greg {
    color: white;
    font-weight: bold;
    background-color: grey;
    text-align: center; 
    text-transform:capitalize;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.voter-weight {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

.invalid {
    background-color: pink;
}

.even-row {
    background-color: lightgray;
}

.invalid.even-row {
    background-color: pink;
}
