circle {
    fill: steelblue;
}
line{
    stroke:darkGrey;
    stroke-width:6;
}

.label{
    fill:white;
    font-weight: bold;
    text-anchor: middle;
    font-size: 16px;
    letter-spacing: 3px;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
